@using SistemaLivros.Models

@model IEnumerable<Livro>
@{
    ViewBag.Title = "Home Page";

}

<head>

    <link href="~/Content/Estilo.css" rel="stylesheet" type="text/css" />

</head>
<body id="body">
 
    <h1 style="text-align:center;font-family:'Goudy Stout'"><b>Estante de Livros</b></h1>
    <h4 style="text-align:center;font-family:Castellar"><b>Os melhores livros estão aqui !!</b></h4>
    <img src="~/fonts/estante-de-livros.jpg" id="estante" />
    <br />
    <br />

    <h3 style="text-align:center; color:blueviolet">NOVIDADES EM DESTAQUE</h3>

    <br />

    <br />

    @foreach (Livro p in Model)

    {

         <div id="posicaoProduto">

            <b> @Html.DisplayTextFor(b => p.Nome) </b>
            <br />
            <img src="~/fonts/@p.Foto" width="150" height="150" id="imagens"/>
             <br />
            <b> @Html.DisplayNameFor(m => m.Preco) = R$ @Html.DisplayTextFor(b => p.Preco) </b>
            <br />

            <input type="button" class="btn btn-info" value="COMPRE" onclick="location.href='@Url.Action("Index", "Home")'" />
             <br />
         </div>
    }

         <br />
          <br />
        <p> <a class="btn btn-primary btn-lg" @Html.ActionLink("Cadastre-se e compre já !!", "Create", "Clientes") &raquo;</a></p>

        <div class="row">
            <div class="col-md-4">
                <h2>Missão</h2>
                <p>
                    Disponibilizar um acervo de livros atualizados e que abrangem os mais diversos gêneros, disponibilizando da maneira mais acessível e a baixo custo livros de qualidade para o cliente ter uma experiência única na compra e incentivando a disseminação de cultura.
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Saiba mais", "Missao", "Home") &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Visão</h2>
                <p>
                    <b>Acreditamos no poder transformador da informação e da cultura.</b>
                    <br />
                    Nosso objetivo é ser o melhor E-Commerce de livros, disseminando informação e cultura, para assim ajudar a construir e viver em um mundo melhor e mais justo.
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Saiba mais", "Visao", "Home") &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Valores</h2>
                <ul>
                    <li>Diversidade</li>
                    <li>Responsabilidade</li>
                    <li>Inovação</li>
                </ul>

                <p><a class="btn btn-default" @Html.ActionLink("Saiba mais", "Valores", "Home") &raquo;</a></p>
            </div>
        </div>
    </body>


