@using SistemaLivros.Models

@model IEnumerable<Livro>
@{
    ViewBag.Title = "Home Page";

}

<head>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>
<body id="body">

    <h1 style="text-align:center;font-family:'Goudy Stout'"><b>Estante de Livros</b></h1>
    <h4 style="text-align:center;font-family:Castellar"><b>Os melhores livros estão aqui !!</b></h4>
    <img src="~/fonts/estante-de-livros.jpg" id="estante" />
    <br />
    <br />

    <h3 style="text-align:center; color:blueviolet">NOVIDADES EM DESTAQUE</h3>

    <br />

    <div id="divbody">
        <div id="divesquerda">
            <h4> <b>O Guardião - Nicholas Sparks</b></h4>
            <img src="~/fonts/guardiao.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
            <br />
            <br />
        </div>

        <div id="divcentro">
            <h4> <b>A Coisa - Stephen King</b></h4>
            <img src="~/fonts/it.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
            <br />
            <br />
        </div>


        <div id="divdireita">
            <h4> <b>As Espiãs do Dia D - Ken Follett</b></h4>
            <img src="~/fonts/ken follett.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
            <br />
            <br />
        </div>
    </div>

    <div id="divbody2">
        <div id="divesquerda">
            <h4> <b>Dom Casmurro - Machado de Assis</b></h4>
            <img src="~/fonts/dom casmurro.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
            <br />
            <br />
        </div>

        <div id="divcentro">
            <h4> <b>Felicidade Clandestina - Clarice Lispector</b></h4>
            <img src="~/fonts/felicidade.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
        </div>


        <div id="divdireita">
            <h4> <b>Uma Breve História do Tempo - Stephen Hawking</b></h4>
            <img src="~/fonts/stephenHawking.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
        </div>
    </div>

    <div id="divbody2">
        <div id="divesquerda">
            <h4> <b>Em Busca do Sentido da Vida - Augusto Cury</b></h4>
            <img src="~/fonts/augustocury.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
            <br />
            <br />
        </div>

        <div id="divcentro">
            <h4> <b> Android Essencial - Ricardo R. Lecheta</b></h4>
            <img src="~/fonts/android.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
        </div>


        <div id="divdireita">
            <h4> <b>Teoria Geral da Administração - Idalberto Chiavenato</b></h4>
            <img src="~/fonts/tga.jpg" width="150" height="150" id="imagens" />
            <input type="button" class="btn btn-info" value="VEJA A DISPONIBILIDADE" onclick="location.href='@Url.Action("Index", "Livros")'" />
        </div>
    </div>


    @*<p> <a class="btn btn-primary btn-lg" @Html.ActionLink("Cadastre-se e compre já !!", "Create", "Clientes") &raquo;</a></p>*@

    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2>Missão</h2>
            <p>
                Disponibilizar um acervo de livros atualizados e que abrangem os mais diversos gêneros, disponibilizando da maneira mais acessível e a baixo custo livros de qualidade para o cliente ter uma experiência única na compra e incentivando a disseminação de cultura.
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Saiba mais", "Missao", "Home") &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Visão</h2>
            <p>
                <b>Acreditamos no poder transformador da informação e da cultura.</b>
                <br />
                Nosso objetivo é ser o melhor E-Commerce de livros, disseminando informação e cultura, para assim ajudar a construir e viver em um mundo melhor e mais justo.
            </p>
            <p><a class="btn btn-default" @Html.ActionLink("Saiba mais", "Visao", "Home") &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Valores</h2>
            <ul>
                <li>Diversidade</li>
                <li>Responsabilidade</li>
                <li>Inovação</li>
            </ul>

            <p><a class="btn btn-default" @Html.ActionLink("Saiba mais", "Valores", "Home") &raquo;</a></p>
        </div>
    </div>
</body>
