@model IEnumerable<SistemaVendaLivros.Models.Carrinho>

@{ 
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4 style="text-align:center; color:purple">Detalhe da Compra</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var item in Model)
        {
        <dt>
            @Html.Label("Nome do Cliente")
        </dt>

        <dd>
            <h7>@Html.DisplayFor(modelItem => item._Cliente.Nome)</h7>
        </dd>

        <dt>
            @Html.Label("Dia e Hora da Compra")
        </dt>

        <dd>
            <h7>@Html.DisplayFor(modelItem => item.DiaCompra)</h7>
        </dd>

        <dt>
            @Html.Label("Livro")
        </dt>

        <dd>
            <h7>@Html.DisplayFor(modelItem => item._Livro.Nome)</h7>
        </dd>

        <dt>
            @Html.Label("Preço")
        </dt>

        <dd>
            <h7>R$ @Html.DisplayFor(modelItem => item._Livro.Preco)</h7>
        </dd>

        <dt>
            @Html.Label("Número de Páginas")
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item._Livro.NumeroPaginas)
        </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ListCompras")
</p>
