@model IEnumerable<SistemaVendaLivros.Models.Carrinho>

@{
    ViewBag.Title = "ListCompras";
}

<h2>ListCompras</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Livro.Nome
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Livro.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarrinhoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarrinhoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarrinhoID })
        </td>
    </tr>
}

</table>
