@model SistemaLivros.Models.Livro

@{
    ViewBag.Title = "Delete";
    var ImagePath = Model.Foto;
}

<h2 style="text-align:center"><b>Excluir Livro</b></h2>
<hr />

<h3>Deseja excluir permanentemente esse livro?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/fonts/@ImagePath" width="150" height="150" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicao)
        </dd>


        <dt>
            @Html.DisplayFor(model => model.AnoEdicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>